*{
    margin: 0;
    padding: 0px ;
    font-family: "poppins", sans-serif ;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c ;
    background-image: url("images/defbg.png");
    padding:50px;
}
.card{
    width: 90%;
    max-width: 470px;
    color: #ffffff;
    margin: 100px, auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 135deg ,rgba(255, 255, 255, 0.50), rgba(0,0,0,0.4));
    box-shadow : 0 4px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background : #ffffff;
    color: rgba(2,2,2,0.8);
    padding: 10px 25px;
    height: 48px;
    border-radius:10px ;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ffffff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.search button img{
    width: 24px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 78px;
    font-weight: 500;
}
.weather h2{
    font-size: 48px;
    font-weight: 400;
}
.details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humid, .wind{
    font-size: 28px;
    margin-top : -6px;
}

.temparature{
    font-size: 36px;
}
.city{
    font-size: 18px;
    font-weight: 300;
}
.sit{
    font-size:24px;
    font-weight: 300px;
    margin-top: -16px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;
    color: red;
    text-shadow: #1c1c1c 0.1;
}